.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to users_path,class:"item-text" do
                お客様一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to new_user_path,class:"item-text" do
                お客様登録
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to karute_hairs_path,class:"item-text" do
                カルテ一覧
  .content
    .content__tittle
      カルテ登録
    = form_with(model: Hair, local: true) do |f|
      .form
        .form__open
          来店日
        .form__bottom
          != sprintf(f.date_select(:day,class:"form__bottom--birthday", prompt:"--",use_month_numbers:true,selected: Date.today , start_year: 2020, end_year:2020),'年','月')+'日'
        .form__open
          コメント
        .form__bottom
          = f.text_area :memo1, autocomplete: "new-password",class:"form__bottom--memo"
        .form__open
          Photo01
        .form__bottom
          = f.label :image1, class: 'form__bottom--img' do
            NO IMAGE
          #img_field1{:onclick => "$('#file1').click()"}
            - if @user.image1.present?
              = image_tag(@user.image1.url)
            - else
              %i.fas.fa-image
          = f.file_field :image1, class: "image1", style: "display:none;", id: "file1"

        .form__open
          Photo02
        .form__bottom
          = f.label :image2, class: 'form__bottom--img' do
            NO IMAGE
          #img_field2{:onclick => "$('#file2').click()"}
            - if @user.image2.present?
              = image_tag(@user.image2.url)
            - else
              %i.fas.fa-image
          = f.file_field :image2, class: "image2", style: "display:none;", id: "file2"

        .form__tittle
          お会計金額
        .form__bottom
          = f.number_field :money,class:"form__bottom--tel", min: "1"
        

        .form__tittle
          メニュー&薬剤情報
        .form__bottom
          = f.text_area :menu, autocomplete: "new-password",class:"form__bottom--memo"


        .form__tittle
          その他備考
        .form__bottom
          = f.text_area :memo2, autocomplete: "new-password",class:"form__bottom--memo"

        .form__tittle
          非公開画像
        .form__bottom
          = f.label :image4, class: 'form__bottom--img' do
            NO IMAGE
          #img_field4{:onclick => "$('#file4').click()"}
            - if @user.image4.present?
              = image_tag(@user.image4.url)
            - else
              %i.fas.fa-image
          = f.file_field :image4, class: "image4", style: "display:none;", id: "file4"

      = f.hidden_field :user_id ,value: params[:id]
      = f.submit "登録する",class:"form__submit"
