= form_with(model: Hair, local: true) do |f|
  .karute-wrap
    .top1
      公開
    .top2
      非公開
  .new-main
    .h-new-wrapper1
      .h-new-wrapper1__top
        お客様公開情報
      .category
        .category__top
          カテゴリ
        .category__bottom
          ヘア
          = f.radio_button :category,"1"
          ネイル
          = f.radio_button :category,"2"
          アイラッシュ
          = f.radio_button :category,"3"
      .memo1
        .memo1__top
          コメント
        .memo1__bottom
          = f.text_area :memo1, autocomplete: "new-password",class:"last-memo"
      .image1
        = f.label :image1, class: '' do
          = f.file_field :image1, class: 'hidden'
      .image2
        = f.label :image2, class: '' do
          = f.file_field :image2, class: 'hidden'
      .image3
        = f.label :image3, class: '' do
          = f.file_field :image3, class: 'hidden'





    .h-new-wrapper2.none
      .h-new-wrapper2__top
        お客様非公開情報
      .day
        .day__top
          来店日
        .day__bottom
          != sprintf(f.date_select(:day, prompt:"--",use_month_numbers:true,selected: Date.today , start_year: 2020, end_year:2000),'年','月')+'日'
      .name
        .name__top
          氏名
        .name__bottom
          =@user.name1
          =@user.name2


      .menber
        .menber__top
          担当
        .menber__bottom
          = f.text_field :menber,class:""


      .money
        .money__top
          お会計金額
        .money__bottom
          = f.number_field :money,class:"", min: "1"
          円
      .menu
        .menu__top
          メニュー&薬剤情報
        .menu__bottom
          = f.text_area :menu, autocomplete: "new-password",class:"menu__bottom--main"


      .memo2
        .memo2__top
          その他備考
        .memo2__bottom
          = f.text_area :memo2, autocomplete: "new-password",class:"memo2__bottom--main"


      .image4
        .image4__top
          非公開写真
        .image4__bottom
          = f.label :image4, class: '' do
            = f.file_field :image4, class:'hidden'


    = f.hidden_field :user_id ,value: params[:id]
    = f.submit "登録する",class:"lst-btn"

