.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to karute_hairs_path,class:"item-text" do
                カルテ一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to new_user_path,class:"item-text" do
                お客様登録
  .search
    .search__top
      名前検索
    .search__bottom
      = form_tag(search_users_path,method: :get) do
        %label{for:"search"}
          %img{src:"00002407.png",class: "search-img" }
        = submit_tag 'search', name:  nil,id:"search",class:"search-btn"
        = text_field_tag :search, "",class:"search-text",placeholder: "苗字を漢字で入力してください"

  .content
    .content__top
    - @users.each do |user|
      .content__main
        .content__main--left
          【ユーザーID】
          =link_to user_path(user.id),method: :get,class:"" do
            = user.id
        .content__main--left
          【氏名】
          %span
            = user.name1
            = user.name2
        .content__main--left
          【最終来店日】
          %spa
            - @karutes = Hair.where(user_id: user.id).order(created_at: "desc")
          - if @karutes.length != 0
            =link_to edit_user_path(@karutes[0].id),class:"" do
              = @karutes[0].day
    = paginate @users
