.show-wrap
  .show-content
    .show-top
      .show-top__left
        お客様一覧
      =link_to karute_hairs_path,class:"show-top__center-left" do
        カルテ一覧
      =link_to new_user_path,class:"show-top__center-right" do
        お客様登録
      =link_to"",class:"show-top__right" do
        お客様検索

      =form_with(local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, placeholder: "名前を検索する", class: "search-form__input"
        = f.submit "探す", class: "search-btn"

    - @users.each do |user|
      .show-top__midle
        .show-top__midle--left
          No
          = user.id
        .show-top__midle--right
          =link_to user_path(user.id),method: :get,class:"" do
            .show-right-top
              = user.name1
              = user.name2
          - @karutes = Hair.where(user_id: user.id).order(created_at: "desc")
          - if @karutes.length != 0
            =link_to edit_user_path(@karutes[0].id),class:"" do
              .show-right-bottom
                = @karutes[0].day
                    
                    