.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to users_path,class:"item-text" do
                お客様一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to karute_hairs_path,class:"item-text" do
                カルテ一覧
  .content
    .content__tittle
      新規登録
    = form_with(model: User, local: true) do |f|
      .form
        .form__tittle
          氏名　(漢字)
        .form__bottom
          = f.text_field :name1, autocomplete: "new-password",class:"form__bottom--left"
          = f.text_field :name2, autocomplete: "new-password",class:"form__bottom--right"

        .form__tittle
          氏名　(カナ)
        .form__bottom
          = f.text_field :read_name1, autocomplete: "new-password",class:"form__bottom--left"
          = f.text_field :read_name2, autocomplete: "new-password",class:"form__bottom--right"

        .form__tittle
          TEL
        .form__bottom
          = f.phone_field :tel, autocomplete: "new-password",class:"form__bottom--tel"

        .form__tittle
          生年月日
        .form__bottom
          != sprintf(f.date_select(:birthday, class:"form__bottom--birthday",prompt:"--",use_month_numbers:true, start_year: 2020, end_year:1990,  date_separator:'%s'),'年','月')+'日'

        .form__tittle
          過去に薬剤でのかぶれなどはありますか？
        .form__bottom
          = f.text_field :rash, autocomplete: "new-password",class:"form__bottom--rash"
        = f.submit "登録する",class:"form__submit"

