.new-wrapper
  .new-wrapper__main
    = form_with(model: User, local: true) do |f|
      .new-wrapper__main--first
        .top
          .left
            氏名(漢字)
          .right
            [必須]
        .bottom
          = f.text_field :name1, autocomplete: "new-password",class:""
          = f.text_field :name2, autocomplete: "new-password",class:""
      .new-wrapper__main--second
        .top
          .left
            氏名(カナ)
          .right
            [必須]
        .bottom
          = f.text_field :read_name1, autocomplete: "new-password",class:""
          = f.text_field :read_name2, autocomplete: "new-password",class:""
      .new-wrapper__main--third
        .top
          .left
            TEL
          .right
            [必須]
        .bottom
          = f.text_field :tel, autocomplete: "new-password",class:""
      .new-wrapper__main--for
        .top
          .left
            生年月日
          .right
            [必須]
        .bottom
          != sprintf(f.date_select(:birthday, prompt:"--",use_month_numbers:true, start_year: 2020, end_year:1990,  date_separator:'%s'),'年','月')+'日'
      .new-wrapper__main--five
        .top
          .left
            最寄駅
        .bottom
          = f.text_field :station, autocomplete: "new-password",class:""
      .new-wrapper__main--six
        .top
          .left
            好きな雑誌
        .bottom
          = f.text_field :magazine, autocomplete: "new-password",class:""
      .new-wrapper__main--seven
        .top
          .left
            かぶれなど
        .bottom
          = f.text_field :rash, autocomplete: "new-password",class:""
      = f.submit ""

