.u-show-wrap
  .top-of
    =link_to users_path,class:"modoru" do
      <戻る
    .u-show-wrap__top
      = @user.name1
      = @user.name2
    =link_to hair_path(params[:id]), method: :post,class:"karute" do
      カルテ登録
  .u-show-wrap__thi
    = @user.birthday
  .u-show-wrap__for
    = @user.tel
  .u-show-wrap__fiv
    -if @user.station == nil
      .none
    - else
      = @user.station
  .u-show-wrap__six
    -if @user.magazine == nil
      .none
    - else
      = @user.magazine
  .u-show-wrap__sev
    -if @user.rash == nil
      .none
    - else
      = @user.rash
  .u-show-wrap__main
    - @karutes.reverse_each do |karute|
      =link_to edit_user_path(karute.id),class:"" do
        .u-show-wrap__main--content
          .left
            =karute.day
          .right
            -if karute.category == 1
              .category
                ヘア
            -elsif karute.category == 2
              .category
                ネイル
            -else karute.category == 3
              .category
                アイラッシュ